<footer class="site-footer">

  <div class="wrapper">

<!--     <h2 class="footer-heading">{{ site.title }}</h2> -->

    <div class="footer-col-wrapper">
      <div class="footer-col  footer-col-1">
        <ul class="contact-list">
          <li><a href="mailto:{{ site.email }}">{{ site.email }}</a></li>

          {% if site.facebook_username %}
          <li>
            <a href="https://www.facebook.com/{{ site.facebook_username }}">
              <i class="fa fa-facebook-square"></i>
              <span class="username">{{ site.facebook_username }}</span>
            </a>
          </li>
          {% endif %}
        </ul>

      </div>

      <div class="footer-col  footer-col-2">
<!--        <ul class="social-media-list">
        </ul> -->

        <a href="https://www.ocf.berkeley.edu">
          <img src="https://www.ocf.berkeley.edu/hosting-logos/ocfbadge_mini8.png"
              alt="Hosted by the OCF" style="border: 0;" />
        </a>
      </div>

      <div class="footer-col  footer-col-3">
        <p class="text">
          {{ site.disclaimer }}
        </p>
      </div>
    </div>

  </div>

</footer>
